.tableHdr .sapMListTblHeaderCell {
            padding: 0rem;
}

.sapMListTblCell {
    padding: .0rem.0rem;
}

.sapMListTblCell {
    vertical-align: middle;
}

/*.sapUiSizeCompact .sapMPageWithHeader>section {
    top: .0rem;
}

.sapUiSizeCompact .sapMBarLeft, .sapUiSizeCompact .sapMBarRight, .sapUiSizeCompact .sapMBarPH {
    height: .0rem;
    line-height:.0rem;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar, .sapUiSizeCompact .sapMPageFooter .sapMIBar {
    height: .0rem;
}*/

.sapMBarPH {
    height: .0rem;
}

.sapMPageHeader {
	height: .0rem;
}

.sapMPage>.sapMPageHeader + section, .sapMPage>.sapMPageSubHeader + section, .sapMPage>.sapMPageHeader + .sapUiHiddenPlaceholder + section {
	top: .0rem;
}

/*.sapMInputBaseWidthPadding {*/
/*    padding: .0rem.0rem;*/
/*}*/

.sapUiForm{
    padding: .0rem.0rem;
}

.sapUiFormResLayout{
    padding: .0rem.0rem;
}
.sapUiFormResLayout>div {
    padding: .0rem;
}

.sapUiRFLContainer {
    vertical-align: bottom;
}
/*.sapUiRLContainer{*/
/*    padding: .0rem.0rem;*/
/*}*/

/*.sapUiFormResLayout>div{*/
/*	padding: .0rem;*/
/*}*/

.sapUiFormResLayout .sapUiRFLRow>.sapUiRFLContainer.sapUiRFLFullLength>.sapUiRFLContainerContent>.sapUiRLElement>.sapUiRFLRow:last-child>.sapUiRFLFullLength:last-child {
    padding-bottom: .0rem;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarLeft, .sapUiSizeCompact .sapMPageFooter .sapMIBar .sapMBarLeft, .sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarRight, .sapUiSizeCompact .sapMPageFooter .sapMIBar .sapMBarRight, .sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarPH, .sapUiSizeCompact .sapMPageFooter .sapMIBar .sapMBarPH {
    height: .0rem;
    padding-top: .0rem;
    padding-bottom: .0rem;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar, .sapUiSizeCompact .sapMPageFooter .sapMIBar {
    height: .0rem;
}